
<div class="container w-50">

  <% if @user.errors.full_messages.any? %>
    <% @user.errors.full_messages.each do |error_message| %>
      <%= error_message if @user.errors.full_messages.first == error_message %> <br />
    <% end %>
  <% end %>
<div>
<h1> Edit User: <%= @user.username %></h1>
  <%= render "users/form"%>
</div>