
<div class="container w-50">
<br/>

<br/>
  <% if @user.errors.full_messages.any? %>
    <% @user.errors.full_messages.each do |error_message| %>
      <% if @user.errors.full_messages.first == error_message %>
        <div class="alert alert-warning" role="alert"><%=error_message %></div>
    <% end %>
  <% end %>
   <% end %>

  <%= render "users/form"%>
</div>


